﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome Shap Info</h1>
    <h1 class="display-4">Shap Info Ready with new Header</h1>
    <h2>Bhavya Patel</h2>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
